@model Volunteering.Models.Forum

@{
    ViewBag.Title = "Delete";
}


<br />
<br />
<div class="container" style="background-color:rgb(13,151,250,0.3); border:double; border-color:white;border-radius: 22px;">

    <h1 style="color: white; text-align: center; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size: 40px;">ИЗБРИШИ КОМЕНТАР</h1>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @*            @Html.LabelFor(model => model.Ime, htmlAttributes: new { @class = "control-label col-md-2" })
        *@            <div class="col-md-10">
            @Html.EditorFor(model => model.Ime, new
            {
                htmlAttributes = new
                {
                    @class = "form-control",
           placeholder = "Your Name"
                }
            })
            @Html.ValidationMessageFor(model => model.Ime, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @*            @Html.LabelFor(model => model.Comment, htmlAttributes: new { @class = "control-label col-md-2" })
        *@            <div class="col-md-10">
            @Html.EditorFor(model => model.Comment, new { htmlAttributes = new { @class = "form-control", style = "width: 1140px;", placeholder = "Your Comment" } })
            @Html.ValidationMessageFor(model => model.Comment, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-actions no-color">
        <input type="submit" value="Избриши" onclick="return alert('Објавата е избришана')" style="font-size: 25px;" class="btn btn-danger" /> 
    </div>
    <br />
</div>

    }

  
</div>